*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    height:100vh;
    background:radial-gradient(circle,#071b55,#020617);

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
    font-family:Arial;

}



.ekran{

    text-align:center;
    cursor:pointer;

}



.giris{

    animation:gelis 2s;

    position:relative;

}



h1{

    color:white;
    font-size:55px;

    text-shadow:0 0 20px #0066ff;

}



h1 span{

    animation:kalpAt 1s infinite;

}



p{

    color:#aaa;
    margin-top:20px;
    font-size:20px;

}



/* uçan kalpler */

.ucan{

    position:absolute;
    font-size:30px;

    animation:uc 3s infinite;

}



.kalp1{

    left:-100px;

}


.kalp2{

    right:-100px;
    animation-delay:1s;

}


.kalp3{

    left:-50px;
    top:-70px;
    animation-delay:2s;

}


.kalp4{

    right:-50px;
    top:-70px;
    animation-delay:1.5s;

}



@keyframes uc{

    0%{

        opacity:0;
        transform:translateY(30px) scale(.5);

    }


    50%{

        opacity:1;

    }


    100%{

        opacity:0;
        transform:translateY(-120px) scale(1.2);

    }

}





/* Büyük kalp */


.buyuk-kalp{

    display:none;

    width:180px;
    height:180px;

    background:#001b55;

    position:relative;

    margin:auto;

    transform:rotate(-45deg);

    box-shadow:

    0 0 30px #0066ff,
    0 0 80px #003cff;


    animation:nefes 1.4s infinite;

}




.buyuk-kalp:before,
.buyuk-kalp:after{

    content:"";

    position:absolute;

    width:180px;
    height:180px;

    background:#001b55;

    border-radius:50%;

}



.buyuk-kalp:before{

    top:-90px;

}



.buyuk-kalp:after{

    left:90px;

}





@keyframes nefes{


    0%{

        transform:rotate(-45deg) scale(1);

    }


    50%{

        transform:rotate(-45deg) scale(1.2);

    }


    100%{

        transform:rotate(-45deg) scale(1);

    }


}





@keyframes kalpAt{

    50%{

        transform:scale(1.3);

    }

}




@keyframes gelis{

    from{

        opacity:0;
        transform:translateY(40px);

    }


    to{

        opacity:1;
        transform:translateY(0);

    }

}
